body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: white;
}
.navbar {
  background: #ffe700;
  margin: 0;
  padding: 25px 30px;
}

.logo {
  font-size: 17pt;
  font-weight: bold;
  text-decoration: none;
  color: black;
  font-family: "Rubik", sans-serif;
}

.container {
  display: flex;
  font-family: sans-serif;
  justify-content: space-between;
  align-items: center;
}

.tombol {
  display: none;
  color: white;
  font-size: 14pt;
}

.tombol:hover {
  cursor: pointer;
}

.menu {
  margin: 0;
  display: flex;
  list-style: none;
  padding: 0;
}

.menu li {
  padding-left: 0;
  margin-right: 10px;
}

.menu li a {
  padding: 7px;
  font-size: 12pt;
  color: white;
  text-decoration: none;
  display: inline-block;
  color: black;
  font-family: "Rubik", sans-serif;
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }

  .menu.aktif {
    display: inline-block;
    position: absolute;
    top: 64px;
    background: #ffe700;
    padding: 10px 20px;
    right: 0;
    left: 0;
  }

  .menu.aktif li a {
    padding: 10px;
    display: inline-block !important;
  }

  .tombol {
    display: block;
    color: black;
  }
}
